<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="bin/www" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Map all URLs to the node.js site entry point -->
        <rule name="RewriteAll">
          <match url=".*" />
          <action type="Rewrite" url="bin/www" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
